In [2]:
from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd

In [94]:

df_train = pd.read_csv('/home/raid/hdd_storage/kondakov/UniverSegScler/hw-01-modeling/data/train_classes.csv')

df_train["list_tags"] = df_train.tags.str.split(" ")

encoder = MultiLabelBinarizer()

ohe_tags_train = encoder.fit_transform(df_train.list_tags.values)

# df_train['ohe_tags'] = ohe_tags_train.tolist()


df_onehot = pd.DataFrame(encoder.transform(df_train['list_tags']),columns=encoder.classes_)

df = df_train.join(df_onehot)
df = df.drop(['list_tags','ohe_tags'], axis=1)

df.head()

,image_name,tags,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water
0,train_0,haze primary,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
1,train_1,agriculture clear primary water,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
2,train_2,clear primary,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,train_3,clear primary,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,train_4,agriculture clear habitation primary road,1,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0

In [110]:
# df.to_csv('../data/train_classes.csv', index=False)

In [153]:
df = pd.read_csv('../data/df_train.csv')

In [154]:
df

,image_name,tags,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water
0,train_0,haze primary,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
1,train_1,agriculture clear primary water,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
2,train_2,clear primary,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3,train_3,clear primary,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,train_4,agriculture clear habitation primary road,1,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40474,train_40474,clear primary,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
40475,train_40475,cloudy,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
40476,train_40476,agriculture clear primary,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
40477,train_40477,agriculture clear primary road,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
40478,train_40478,agriculture cultivation partly_cloudy primary,1,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0

In [152]:
df

,image_name,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water
0,train_0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
1,train_2,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
2,train_4,1,0,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0
3,train_7,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
4,train_8,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32378,train_40474,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
32379,train_40475,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
32380,train_40476,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
32381,train_40477,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0
32382,train_40478,1,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0

In [150]:
row = df.iloc[0]

In [151]:
len(np.array(row.values[2:], dtype='float32'))

16

In [136]:
row.values[2:]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1], dtype=object)

In [50]:
import numpy as np
import os


# image_path = os.path.join(self.image_folder, f'{row.image_name}.jpg')
labels = np.array(row.ohe_tags)

In [51]:
row.ohe_tagslist

AttributeError: 'Series' object has no attribute 'ohe_tagslist'